In [1]:
import pandas as pd 

date_list = pd.date_range('2025-01-01', periods=365.25, freq='D')
date_df = pd.DataFrame(date_list, columns=['date'])
hotel_df = pd.read_csv('hotel_index.csv')

merge_df = hotel_df.merge(date_df, how='cross')
merge_df['date'] = pd.to_datetime(merge_df['date'])
merge_df.to_sql('merge_df', con='sqlite:///hotel_data.db', if_exists='replace', index=False)

s_df = pd.read_sql('select * from staying', con='sqlite:///database.db')
s_df.Property.unique()

merge_df

C:\Users\Youssef\AppData\Local\Temp\ipykernel_2240\2080187673.py:3: FutureWarning: Non-integer 'periods' in pd.date_range, pd.timedelta_range, pd.period_range, and pd.interval_range are deprecated and will raise in a future version.
  date_list = pd.date_range('2025-01-01', periods=365.25, freq='D')

                 Property  Total Rooms  Company       date
0      Kensington Olympia           10      HFS 2025-01-01
1      Kensington Olympia           10      HFS 2025-01-02
2      Kensington Olympia           10      HFS 2025-01-03
3      Kensington Olympia           10      HFS 2025-01-04
4      Kensington Olympia           10      HFS 2025-01-05
...                   ...          ...      ...        ...
22990  Number 13 Brighton           10  Harbour 2025-12-27
22991  Number 13 Brighton           10  Harbour 2025-12-28
22992  Number 13 Brighton           10  Harbour 2025-12-29
22993  Number 13 Brighton           10  Harbour 2025-12-30
22994  Number 13 Brighton           10  Harbour 2025-12-31

[22995 rows x 4 columns]

In [38]:
s_df.drop_duplicates(keep='last', inplace=True)

In [ ]:
s_df = pd.read_sql('select * from staying', con='sqlite:///database.db')
prop = 'Holland Road Stays'

merged = pd.read_sql(f'select * from merge_df where date < "2025-06-01" and "Property" = "{prop}"', con='sqlite:///hotel_data.db')
s_df.drop_duplicates(keep='last', inplace=True)
s_df['Check In'] = pd.to_datetime(s_df['Check In'])
s_df['Check Out'] = pd.to_datetime(s_df['Check Out'])
merged['date'] = pd.to_datetime(merged['date'])
merged['stay'] = 0

for i, row in merged.iterrows():
    # كام إقامة بتحصل في اليوم ده؟
    stay_count = ((s_df['Check In'] <= row['date']) & (row['date'] < s_df['Check Out']) & (row['Property'] == s_df['Property'])).sum()
    merged.at[i, 'stay'] = stay_count

merged['Occupancy'] = (merged.stay / merged['Total Rooms'])*100

OperationalError: (sqlite3.OperationalError) near "Road": syntax error
[SQL: select * from merge_df where date < '2025-06-01' and 'Property' = Holland Road Stays]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [16]:
grand_table = merged
prop = 'Holland Road Stays'
staying_date = '2025-06-01'
staying_date_df = pd.read_sql(f'select * from staying where "Check Out" < "{staying_date}" and "Property" = "{prop}"', con = 'sqlite:///database.db') 
staying_date_df['Check In'] = pd.to_datetime(staying_date_df['Check In'])
staying_date_df['Check Out'] = pd.to_datetime(staying_date_df['Check Out'])

grand_table['Resv Count'] = 0

for i, row in grand_table.iterrows(): 

    stay_count = ((staying_date_df['Check In'] <= row['date']) & 
                (row['date'] < staying_date_df['Check Out']) & 
                (staying_date_df['Property'] == row['Property'])).sum()
    grand_table.at[i, 'Resv Count'] = stay_count



grand_table[grand_table['Resv Count']>2]

,Property,Total Rooms,Company,date,stay,Occupancy,Resv Count
5341,Holland Road Stays,15,Stayz,2025-02-26,3,20.000000,3
5342,Holland Road Stays,15,Stayz,2025-02-27,6,40.000000,6
5343,Holland Road Stays,15,Stayz,2025-02-28,10,66.666667,10
5344,Holland Road Stays,15,Stayz,2025-03-01,14,93.333333,14
5345,Holland Road Stays,15,Stayz,2025-03-02,11,73.333333,11
5346,Holland Road Stays,15,Stayz,2025-03-03,10,66.666667,10
5347,Holland Road Stays,15,Stayz,2025-03-04,14,93.333333,14
5348,Holland Road Stays,15,Stayz,2025-03-05,10,66.666667,10
5349,Holland Road Stays,15,Stayz,2025-03-06,13,86.666667,13
5350,Holland Road Stays,15,Stayz,2025-03-07,14,93.333333,14
5351,Holland Road Stays,15,Stayz,2025-03-08,13,86.666667,13
5352,Holland Road Stays,15,Stayz,2025-03-09,12,80.000000,12
5353,Holland Road Stays,15,Stayz,2025-03-10,12,80.000000,12
5354,Holland Road Stays,15,Stayz,2025-03-11,13,86.666667,13
5355,Holland Road Stays,15,Stayz,2025-03-12,12,80.000000,12
5356,Holland Road Stays,15,Stayz,2025-03-13,10,66.666667,10
5357,Holland Road Stays,15,Stayz,2025-03-14,9,60.000000,9
5358,Holland Road Stays,15,Stayz,2025-03-15,15,100.000000,15
5359,Holland Road Stays,15,Stayz,2025-03-16,12,80.000000,12
5360,Holland Road Stays,15,Stayz,2025-03-17,9,60.000000,9
5361,Holland Road Stays,15,Stayz,2025-03-18,10,66.666667,10
5362,Holland Road Stays,15,Stayz,2025-03-19,11,73.333333,11
5363,Holland Road Stays,15,Stayz,2025-03-20,13,86.666667,13
5364,Holland Road Stays,15,Stayz,2025-03-21,14,93.333333,14
5365,Holland Road Stays,15,Stayz,2025-03-22,15,100.000000,15
5366,Holland Road Stays,15,Stayz,2025-03-23,11,73.333333,11
5367,Holland Road Stays,15,Stayz,2025-03-24,10,66.666667,10
5368,Holland Road Stays,15,Stayz,2025-03-25,12,80.000000,12
5369,Holland Road Stays,15,Stayz,2025-03-26,12,80.000000,12
5370,Holland Road Stays,15,Stayz,2025-03-27,13,86.666667,13
5371,Holland Road Stays,15,Stayz,2025-03-28,15,100.000000,15
5372,Holland Road Stays,15,Stayz,2025-03-29,14,93.333333,14
5373,Holland Road Stays,15,Stayz,2025-03-30,11,73.333333,11
5374,Holland Road Stays,15,Stayz,2025-03-31,12,80.000000,12
5375,Holland Road Stays,15,Stayz,2025-04-01,8,53.333333,8
5376,Holland Road Stays,15,Stayz,2025-04-02,7,46.666667,7
5377,Holland Road Stays,15,Stayz,2025-04-03,6,40.000000,6
5378,Holland Road Stays,15,Stayz,2025-04-04,5,33.333333,5
5379,Holland Road Stays,15,Stayz,2025-04-05,4,26.666667,4
5380,Holland Road Stays,15,Stayz,2025-04-06,3,20.000000,3